<footer>
  <div class="footer-container">
    <p>&copy; 2025 Matti. All rights reserved.</p>
    <div class="footer-social">
      <a
        href="https://www.linkedin.com/in/mathias-rasmussen-1014531b7/"
        target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://github.com/mara816" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://www.instagram.com/mattivelli/" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.facebook.com/mathias.rasmussen.980" target="_blank"
        ><i class="fab fa-facebook"></i
      ></a>
    </div>
  </div>
</footer>
